{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<h1>Ajouter un objet à
		{# {{ collecting.name }} #}
	</h1>

	<hr>

	{{ form(addUserCollectingForm) }}

		<div
			class="row">
			{# <div class="col text-start">
																										<a href="{{ path('collectione_show', {'item': item.id}) }}" class="btn btn-primary">Retour à
																											{{ item.name }}</a>
																									</div> #}

			<div class="col text-end">
				<input type="submit" value="Valider" class="btn btn-success"></div>
		</div>
	{% endblock %}
