{% extends 'base.html.twig' %}

{% block title %}Edit Collecting
{% endblock %}

{% block body %}
	<h1>Edit Collecting</h1>

	{{ include('collecting/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('collecting') }}">back to list</a>

	{{ include('collecting/_delete_form.html.twig') }}
{% endblock %}
