{% extends 'base.html.twig' %}

{% block title %}New Collecting
{% endblock %}

{% block body %}
	<div class="container-fluid mt-4">
		<h1>Create new Collecting</h1>

		<hr>

		{{ form_start(addCollectingForm)}}
		{{ form_row(addCollectingForm.name)}}

		<hr>

		<div class="row mt-4 mb-4">
			<div class="col text-end">
				<button class="btn btn-secondary">
					<a href="{{ path('collecting') }}" class="text-decoration-none text-white">Cancel</a>
				</button>
				<button type="submit" class="btn btn-success">
					Save
				</button>
			</div>
		</div>

		{{ form_end(addCollectingForm)}}
	</div>
{% endblock %}
